.illustration {

}

.home {
	padding: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 48px);

	& .title {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #27dfd3;
		& .intro {
			margin: 0 8px 8px 0;
			font-size: 28px;
			line-height: 40px;
			vertical-align: top;
			color: #dbe3f8;
			letter-spacing: 0.5vmin;
			font-weight: 600;
		}
		& .line2 {
			margin: 8px 0;
			line-height: 40px;
			color: #b0bee4;
			font-size: 28px;

		}
		& .summary {
			line-height: 28px;
			color: #b0bee4;
		}
	}
}

a.link {
	text-decoration: none;
	color: #FEFEFE;
	margin-right: 12px;
	padding: 8px 15px;
	font-size: 16px;
	border: 2px solid #27dfd3;
	border-radius: 3px;
	cursor: pointer;
	&:hover {
		background-color: #27dfd338;
	}
}

@media screen and (min-width: 601px) {
	.home {
		background-position-x: right;
		background-size: contain;
		height: calc(100vh - 96px);
		& .title {
			font-family: 'Montserrat', sans-serif;
			font-size: 20px;
			color: #27dfd3;
			margin: 78px auto;
			& .intro {
				margin: 28px 0;
				font-size: 56px;
				color: #dbe3f8;
				letter-spacing: 0.65vmin;
				font-weight: 600;
			}
			& .line2 {
				margin: 28px 0;
				color: #b0bee4;
				font-size: 56px;
	
			}
			& .summary {
				line-height: 38px;
				max-width: 950px;
			}
		}
	}
}